.about {
    background-color: dodgerblue;
    width: 640px;
    height: 345px;
    align-content: center;
}
#listing {
    background-color: white;
    width: 640px;
    height: 800px;
    align-content: center;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.phone {

}
.fax {
    text-align: center;
}
.email {
    text-align: right;
}
