extends ./admin.jade
block content
  h1 Welcome to the admin page


  ul
    li
      a(href="/agent") Edit Agent Info
    li
      a(href="/listings") View Listings
    li
      a(href="/viewTest") View Testimony
  a(href="/seeList") click here to see listings
  br
  a(href="/logOut") click here to log out

