extends ./admin.jade

block content
    h1 Welcome to the admin page


    ul
        li
          a(href="/agent") Edit Agent Info
        li
          a(href="/listings") View Listings

    a(href="/seeList") click here to see listings
    br
    a(href="/addInfo") click here to go to addInfo page
    br
    a(href="/addList") click here to go to addList page
    br
    a(href="/addTest") click here to go to addTest page
    br
    a(href="/viewListing") click here to see list of listings
    br
    a(href="/logOut") click here to log out

