html
    head
        title='userScreen'
        link(rel="stylesheet" href="style.css")
    body
        h1 Welcome to your user screen
        p your username is ' '
        p=username
        br
        p your password is ' '
        p=password
        br
        a(href="/seeList") click here to see listings
        br
        a(href="/addInfo") click here to go to addInfo page
        br
        a(href="/addList") click here to go to addList page
        br
        a(href="/addTest") click here to go to addTest page
        br
        a(href="/logOut") click here to log out