html
    head
        title='add listing'
    body
        h1 Insert New Listing
        form(method="POST" action="/insertService")
            p Please enter picture URL:
            input(type="text" name='url')
            p Please enter listing description:
            input(type="text" name='descript')
            input(type="submit" value="submit")
        a(href="/seeList") click here to see listings
