html
    head
        title='add testimony'
    body
        h1 Insert New Testimony
        form(method="POST" action="/insertTesti")
            p Please url of picture:
            input(type="text" name='primary_photo')
            p Please enter testimony:
            input(type="text" name='test')
            p Please enter name:
            input(type="text" name='name')
            input(type="submit" value="submit")
        a(href="/seeList") click here to see listings
